{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container" >
            <blockquote class="blockquote text-center">
                <h2>DODAJ PYTANIE</h2>
            </blockquote>
            {{ form_start(form) }}
            {{ form_row(form.id) }}
            {{ form_row(form.content) }}
            {{ form_row(form.active) }}
            {{ form_row(form.questionLevel) }}
            {{ form_row(form.isSingleOrMulti) }}

            <button type="submit">Wyślij</button>
            <blockquote class="blockquote text-center">
                <h4> <a href="{{ path('question_list') }}" role="button"><br>Pytania</a></h4>
            </blockquote>
            <br> <blockquote class="blockquote text-center" id="text"> <h4> <a href="{{ path('homePage') }}" > Strona główna </a></h4></blockquote>
        </div>

        {{ form_end(form) }}
    {% else %}
        <div class="container" >
            <div class="alert">
                <blockquote class="blockquote text-center" id="text"><h4>Nie masz uprawnień aby wyświetlić zawartość tej strony</h4></blockquote>
            </div>
            <a href="{{ path('login') }}">Powrót do strony logowania</a>
        </div>
    {% endif %}
{% endblock %}