{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container" >
            <blockquote class="blockquote text-center" id="text"><h2>LISTA ODPOWIEDZI</h2></blockquote>
            <table id="custom">
                <th>Id pytania</th>
                <th>Treść pytania</th>
                <th>Id odpowiedzi</th>
                <th>Treść odpowiedzi</th>
                <th>Usuń odpowiedż</th>
                <th>Edytuj odpowiedż</th>

                {% for answer in answers %}

                    <tr id="custom">
                        <td class="align">{{ answer.Question.Id }}</td>
                        <td class="align">{{ answer.Question.Content }}</td>
                        <td class="align">{{ answer.Id }}</td>
                        <td class="align">{{ answer.Content }}</td>
                        <td class="align"><a href="{{ path('answer_delete',{'id':answer.Id}) }}">Usuń odpowiedż</a></td>
                        <td class="align"><a href="{{ path('answer_edit',{'id':answer.Id}) }}">Edytuj odpowiedż</a></td>
                    </tr>

                {% endfor %}
            </table>
            <br> <blockquote class="blockquote text-center" id="text"> <h4> <a href="{{ path('homePage') }}" > Strona główna </a></h4></blockquote>
        </div>
    {% else %}
        <div class="container" >
            <div class="alert">
                <blockquote class="blockquote text-center" id="text"><h4>Nie masz uprawnień aby wyświetlić zawartość tej strony</h4></blockquote>
            </div>
            <a href="{{ path('login') }}">Powrót do strony logowania</a>
        </div>
    {% endif %}
{% endblock %}