<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Quiz{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('bootstrap-grid.css') }}" rel="stylesheet">
        <link href="{{ asset('bootstrap-reboot.css') }}" rel="stylesheet">
        <link href="{{ asset('main.css') }}" rel="stylesheet">
        <link href="{{ asset('global.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
