{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <div class="container" >
        <blockquote class="blockquote text-center">
            <h2>Edycja pytanie</h2>
        </blockquote>
        {{ form_start(form) }}
        {{ form_row(form.id) }}
        {{ form_row(form.content) }}
        {{ form_row(form.active) }}
        {{ form_row(form.questionLevel) }}
        {{ form_row(form.isSingleOrMulti) }}

        <button type="submit">Wyślij</button>

    </div>
    {{ form_end(form) }}
{% endblock %}