{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="container" >
            <div class="alert">
                <h2>Podana liczba pytań jest niedostępna</h2>
            </div>
            <p><a href="{{ path('login') }}">POWRÓT DO STRONY LOGOWANIA</a></p>
        </div>

    {% endif %}
{% endblock %}