{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container" >
            <div class="alert">
                <h2>Takie pytanie już istnieje</h2>
            </div>
            <p><a href="{{ path('question_list') }}">POWRÓT DO LISTY PYTAŃ</a></p>
        </div>
    {% else %}
        <div class="container" >
            <div class="alert">
                <blockquote class="blockquote text-center" id="text"><h4>Nie masz uprawnień aby wyświetlić zawartość tej strony</h4></blockquote>
            </div>
            <a href="{{ path('login') }}">Powrót do strony logowania</a>
        </div>

    {% endif %}
{% endblock %}