{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container">
            <blockquote class="blockquote text-center"><h2>WYBIERZ</h2></blockquote>
            <div class="vertical-menu" ><h4> <a href="{{ path('question_list') }}" > Obsługa pytań </a></h4></br>
                <h4> <a href="{{ path('answer_list') }}" > Obsługa odpowiedzi </a></h4>
            </div>
        </div>
    {% else %}
        {% if is_granted('ROLE_USER') %}
            <div class="container" >
                <blockquote class="blockquote text-center"><h2>Rozpocznij Quiz</h2></blockquote><br>
                <form method="get" action="{{ path('quiz_start') }}">
                    <h4> Wpisz liczbę pytań</h4>
                    <input type="text" name="number" Placeholder="Liczba pytań" >
                    <input type="radio" name="level" value="1" checked>Początkujący<br>
                    <input type="radio" name="level" value="2" >Zaawansowany<br>
                    <input type="radio" name="level" value="3"> Expert<br><br>
                    <button type="submit">Potwierdź</button>
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}