{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <label for="username">Użytkownik:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Hasło:</label>
            <input type="password" id="password" name="_password" />
            <button type="submit">Zaloguj się</button>
        </form>
    </div>
{% endblock %}