{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container" >
            <blockquote class="blockquote text-center" id="text"><h2>LISTA PYTAŃ</h2></blockquote>
            <table id="custom">
                <th>Id</th>
                <th>Treść pytania</th>
                <th>Edycja pytania</th>
                <th>Usunięcie pytania</th>
                <th>Dodaj odpowiedzi</th>

                {% for question in questions %}

                    <tr id="custom">
                        </tbody>
                        <td class="align">{{ question.Id }}</td>
                        <td class="align">{{ question.Content }}</td>
                        <td class="align"><a href="{{ path('question_edit',{'id':question.Id}) }}">Edytuj</a></td>
                        <td class="align"><a href="{{ path('question_delete',{'id':question.Id}) }}">Usuń</a></td>
                        <td class="align"><a href="{{ path('answer_add',{'id':question.Id}) }}">Dodaj odpowiedź</a></td>
                        </tbody>
                    </tr>
                {% endfor %}
            </table>
            <blockquote class="blockquote text-center">
                <form method="get" action="{{ path('question_add') }}">
                    <h2> DODAJ PYTANIE</h2>
                    <input type="text" name="id" Placeholder="Id" >
                    <button type="submit">Potwierdź</button>
                </form>
            </blockquote>
            <br> <blockquote class="blockquote text-center" id="text"> <h4> <a href="{{ path('homePage') }}" > Strona główna </a></h4></blockquote>
        </div>
    {% else %}
        <div class="container" >
            <div class="alert">
                <blockquote class="blockquote text-center" id="text"><h4>Nie masz uprawnień aby wyświetlić zawartość tej strony</h4></blockquote>
            </div>
            <a href="{{ path('login') }}">Powrót do strony logowania</a>
        </div>
    {% endif %}
{% endblock %}