{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="container" >
            {% for question in questions %}
            <form method="get" action="">
                <p>{{ question.Content}} </p>
               <ul>
                   {% for answer in question.answerContent %}
                    <li> <input name="choice" type="radio">{{ answer.content }}</li>
                   {% endfor %}
               </ul>
                <button type="submit">Potwierdź</button>
            </form>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}


