{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="container" >
            <form method="get" action="{{ path('quiz_start') }}">
                <h4> Wpisz liczbę pytań</h4>
                <input type="text" name="number" Placeholder="Liczba pytań" >
                <input type="radio" name="level" value="1" checked>Początkujący<br>
                <input type="radio" name="level" value="2" >Zaawansowany<br>
                <input type="radio" name="level" value="3"> Expert<br><br>
                <button type="submit">Potwierdź</button>
        </form>
        </div>
    {% endif %}
{% endblock %}