.form-container{border: 1px solid #FFFFFF; padding: 30px 40px; margin-top: 20vh;
    -webkit-box-shadow: 10px 10px 0px -2px rgba(197,180,164,0.63);
    -moz-box-shadow: 10px 10px 0px -2px rgba(197,180,164,0.63);
    box-shadow: 10px 10px 0px -2px rgba(197,180,164,0.63);
}
