.table th,
.table td {
    padding: 0.35rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}
#custom {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#custom td, #custom th {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: center;
}

#custom tr:nth-child(even){background-color: #f2f2f2;}

#custom tr:hover {background-color: #ddd;}

#custom th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightslategray;
    color: white;
    text-align: center;
}
.h2 { text-align: center;
    background-color: #1b1e21;
}
button[type=submit] {
    background-color: lightslategray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;


}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=placeholder], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.vertical-menu {
    width: 100%;
}

.vertical-menu a {
    background-color: #eceeef;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;

}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
}
.alert {
    padding: 20px;
    background-color: lightslategray;
    color: white;
}

